body {
    background-image: url(../img/1920x1080_background.png);
    background-repeat: no-repeat; 
    background-size: cover;         
    background-attachment: fixed;    
    background-position: center;   

    margin: 0;

    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    background-color: #000000e3;
    height: 90px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;

    position: fixed; 
    top: 0;
}

.cabecalho_esquerda {
    height: 100%;
    width: 25%;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
}

.site_name{
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img_mangue {
    height: 100%;
    width: 120px;

    display: flex;
    flex-direction: row;
    gap: 10px;
}

.img_mangue img {
    width: 150px;
    height: 90%;

    object-fit: contain;
    object-position: center;
    display: block;

    border-radius: 40px;
}

.cabecalho_meio {
    height: 100%;
    width: 45%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#barra_pesquisa {
    width: 300px;
    height: 36px;
    background-color: #2a2a2a;

    border: none;
    border-radius: 8px;

    padding: 0 12px;

    color: #fff;
}

#barra_pesquisa::placeholder {
    color: #aaa;
}

#barra_pesquisa:focus {
    outline: none;
    background-color: #333;
}

.cabecalho_direita {
    height: 100%;
    width: 30%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 5px;
}

.botao_cabecalho{
    background: #00d484;

    font-weight: bold;

    padding: 10px 25px;
    border-radius: 10px;

    cursor: pointer;
    
    text-decoration: none;
    color: #000000;    
}

.botao_cabecalho:hover{
    box-shadow: 0 0 15px #00ff99;
}

.filtros {
    margin-top: 120px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 15px;

    background-color: #1c1c1c;
    padding: 15px 20px;
    border-radius: 10px;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.filtros select {
    background-color: #2a2a2a;
    color: white;

    border: none;

    border-radius: 6px;
    padding: 8px 12px;
}

.filtros input[type="number"] {
    background-color: #2a2a2a;
    color: white;

    border: none;

    border-radius: 6px;
    padding: 8px 12px;
}

.filtros button {
    background-color: #00d484;
    color: #000;

    font-weight: bold;

    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    cursor: pointer;
}

.filtros .reset {
    background: none;
    color: #ff5252;

    text-decoration: underline;
}

.filtro_preco {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
}

.selecao {
    margin-top: 40px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.opcoes {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;
}

.case_jogo_produto {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: row;

    align-items: flex-start;
}

.jogo_catalogo {
width: 60%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;

    padding: 10px 0 50px 0;
}

.case_jogos {
    background-color: #2b2b2b;
    width: 300px;
    height: 200px;

    border-radius: 10px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.case_jogos:hover {
    box-shadow: 0 0 15px rgba(0, 255, 153, 0.521);
}

.img_jogo {
    width: 100%;
    height: 80%;
}

.img_jogo img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-bottom: 2px solid #00ff99;
}

.descricao {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1e1e1e;

    padding: 0 10px;

    box-sizing: border-box;
}

.name {
    color: white;

    font-weight: bold;
    font-size: 15px;
}

.name a {
    text-decoration: none;
    color: white;
}

.name a:hover{
    color: rgb(129, 129, 129);
}

.preco {
    color: #00ff99;

    font-size: 13px;
    font-weight: bold;
}