<html>

<head>

  <meta charset="UTF-8">

  <link rel="stylesheet" href="styles.css">
  <script defer src="script.js"></script>

  <title> Biblioteca </title>

</head>

<body>

  <div class="upper_bar_container">

    <a href="../pagina catalogo/index.html">

      <button class="upper_bar_buttons"> LOJA </button>

    </a>

    <a href="../pagina_principal/index.html">

      <button class="upper_bar_buttons"> MANGUEZAL </button>

    </a>

    <a href="../pagina login usuario/index.html">

      <button class="upper_bar_buttons"> ENTRAR </button>

    </a>


  </div>


  <div class="whole_container">

    <div class="owned_games_list_container">

      <input class="owned_games_searchbar" type="text" placeholder="PESQUISAR JOGÃO">

      <div class="owned_games_list" id="owned_games_list">

      </div>

    </div>

    <div class="owned_games_board_container">

      <div class="recently_played_games_container">

        <div class="area_title">
          <h3>Jogos Recentes</h3>
        </div>

        <div class="recently_played_games_list" id="recently_played_games_list">

        </div>

      </div>

      <div class="all_games_container" id="all_games_container">


      </div>

    </div>

  </div>

</body>

</html>