<html>

<head>

  <meta charset="UTF-8">

  <link rel="stylesheet" href="styles.css">
  <script defer src="script.js"></script>

  <title> Biblioteca </title>

</head>

<body>

  <div class="upper_bar_container">

  </div>


  <div class="whole_container">

    <div class="owned_games_list_container">

      <input class="owned_games_searchbar" type="text" placeholder="PESQUISAR JOGÃO">

      <div class="owned_games_list">

        <div class="base_game">
          <p>X</p>
          <p>NOME hddhgPLO</p>

        </div>

      </div>

    </div>

    <div class="owned_games_board_container">

      <div class="recently_played_games_container">

        <div class="area_title">
          <h3>Jogos Recentes</h3>
        </div>

        <div class="recently_played_games_list">

          <button class="game_poster_button"
            style="background-image: url(imagens/posters/Devil_May_Cry_5.jpg);"></button>

        </div>

      </div>

      <div class="all_games_container">

        <button class="game_poster_button"></button>
        <button class="game_poster_button"></button>
        <button class="game_poster_button"></button>
        <button class="game_poster_button"></button>
        <button class="game_poster_button"></button>
        <button class="game_poster_button"></button>
        <button class="game_poster_button"></button>
        <button class="game_poster_button"></button>
        <button class="game_poster_button"></button>
        <button class="game_poster_button"></button>
        

      </div>

    </div>

  </div>

</body>

</html>