body {


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0;

  height: 1000px;

}

.upper_bar_container {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 125px;

    background: #162a45;
    background: linear-gradient(0deg,rgb(22, 42, 69) 0%, rgba(22, 82, 171, 0.87) 100%);  

}

.whole_container {

  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;

  width: 100%;
  height: 100%;

  padding: 0;

  background-color: rgb(154, 91, 190);

}

.owned_games_list_container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  width: 35%;
  height: 100%;

  background-color: rgb(107, 21, 93);

}

.owned_games_searchbar {

  width: 85%;
  height: 1.5rem;

  margin-top: 25px;

}

.owned_games_list {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  width: 85%;
  height: 83%;

  margin-top: 25px;

  background-color: rgb(19, 18, 82);

}

.base_game {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;

  width: 85%;
  height: 2rem;

  padding-left: 1.5rem;

  margin-top: 1.5rem;

  gap: 25px;

  color: aliceblue;
  background-color: rgb(18, 35, 82);

}

.owned_games_board_container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  width: 65%;
  height: 100%;

  background-color: rgb(87, 19, 22);
}

.game_news_container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  width: 100%;
  height: 40%;

  background-color: rgb(31, 94, 122);

}

.game_news_title {

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  width: 100%;
  height: 2rem;

  gap: 1.5rem;

  background-color: rgba(156, 29, 118, 0);

}

.game_news_list {

  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;

  width: 100%;
  height: 100%;

  background-color: rgb(163, 40, 157);

}

.base_game_news {

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

  width: 215px;
  height: 175px;

  margin-left: 1.5rem;
  margin-top: 1.5rem;

  background-color: rgba(23, 49, 104, 0);

}

.game_news_date {

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  width: 100%;
  height: 1.5rem;

  border-top-left-radius: 7px;
  border-top-right-radius: 7px;

  background-color: rgba(53, 99, 136, 0);

}

.game_news_image_container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: rgba(15, 126, 160, 0);

}

.game_news_image {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  object-fit: cover;

  width: 100%;
  height: 150px;

  border-radius: 15px;

  background-color: rgb(15, 126, 160);

}

.area_title {

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  width: 100%;
  height: 2rem;

  background-color: rgb(114, 30, 117);

}

.game_news_game {

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  width: 100%;
  height: 1.5rem;

  background-color: rgba(15, 126, 160, 0);

}

.recently_played_games_container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 350px;

  background-color: rgb(33, 19, 109);

}

.recently_played_games_list {


  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;

  width: 100%;
  height: 100%;

  background-color: rgb(33, 19, 109);

}

.all_games_container {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 350px;

  overflow-y: auto;

  background-color: rgb(206, 44, 179);

}

.game_poster_button {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 15px;

  width: 150px;
  height: 200px;

  background-image: url(imagens/Z53.png);
  background-size: cover;
  background-position: center;

  margin: 1.2rem;

}

.game_poster_button:hover {

  width: 175px;
  height: 225px;

}
