<html>

<head>

  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/index.css">
  <script defer src="js/index.js"></script>
  <title>Perfil Usuário</title>

</head>

<body>
  <div class="cabecalho">

    <div class="cabecalho_esquerda">
      <div class="img_mangue">
        <a href="../pagina_principal/index.html"><img src="img/1920x1080_background.png" alt=""></a>
        <p class="site_name">Manguezal dos games</p>
      </div>
    </div>

    <div class="cabecalho_direita">
      <div>
        <a href="../pagina_principal/index.html" class="home_button">Home</a>
      </div>
      <div>
        <a href="../pagina carrinho/index.html" class="home_button">Carrinho</a>
      </div>
    </div>
  </div>

  <div class="selecao">

    <div class="case_usuario">
      <div class="case_informacao_cima">
        <div class="case_info_usuario">
          <div class="img_usuario">
            <img src="../pagina perfil usuario/img/Profiles/Profile-022.png" alt="">
          </div>
          <div class="nickname">
            Spisila da Silva
          </div>
        </div>
      </div>

      <div class="case_informacao_baixo">
        <div class="case_recente">
          <div class="jogo_recente">
            <div class="hora_jogada">
              Horas jogadas : 77h
            </div>
            <div class="jogo">
              <div class="img_jogo_rec">
                <img src="../pagina perfil usuario/img/Banners/Banner-010.png" alt="">
              </div>
              <div class="name_jogo">
                Wilson guloso
              </div>
            </div>
          </div>
          <div class="review_recente">
            <div class="jogo_review">
              <div class="review">
                <div class="img_jogo_rev">
                  <img src="../pagina perfil usuario/img/Banners/Banner-040.png" alt="">
                </div>
                <div class="comentario_review">
                    Este jogo é uma bosta quem fez isso?
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="case_contem">
          <div>
            <a href="../pagina biblioteca usuario/index.html" class="button_obtido">Biblioteca</a>
          </div>
          <div>
            <a href="../pagina review/index.html" class="button_obtido">Review</a>
          </div>
        </div>
      </div>

    </div>

  </div>

</body>

</html>