<html>

<head>

  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
  <nav class="navegacao">
    <ul class="menu-categoria">
      <li>
        <a href="colocar o link da pag inicial" class="logo-link">
          <img src="img/Profile-053.png" alt="Ir para a página Inícial" class="foto-manguezal">
          <span>Manguezal Dos Games</span>
        </a>
      </li>
      <li>
        <a href="#inicio" class="menu-link">Início</a>
      </li>
      <li>
        <a href="#catalogo" class="menu-link">Catalogo</a>
      </li>
      <li>
        <a href="#acao" class="menu-link">Ação</a>
      </li>
      <li>
        <a href="#fps" class="menu-link">FPS</a>
      </li>
      <li>
        <a href="#corrida" class="menu-link">Corrida</a>
      </li>
      <li>
        <a href="#outras" class="menu-link">Outras Categorias</a>
      </li>
      <li>
        <a href="colocar o link da pag de perfil" class="menu-link">
          <img src="img/Profile-001.png" alt="Ir para a página de perfil" class="foto-perfil">
        </a>
      </li>
    </ul>
  </nav>




  <section id="catalogo" class="catalogo">
    <h1>Catalogo</h1>

    <div class="catalogo-categorias">

      <a href="/categoria/acao">

        <img src="./img/Banner-006.png" class="foto-jogo" alt="Banner da categoria de jogos de Ação">

        <div class="card-nomeC">
          <p class="card-nomeC-texto"> Categoria: Ação</p>
        </div>

      </a>
    </div>
  </section>

  <section id="acao" class="acao">
    <h1>Jogos de Ação</h1>

    <div class="card-acao">

      <a href="/jogos/a-melacia-totosa">
        <img src="./img/Banner-010.png" class="foto-jogo" alt="Banner do jogo">

        <div class="card-nomej">
          <p>A Melacia Totosa</p>
        </div>
      </a>

    </div>
  </section>

  <section id="fps" class="fps">
    <h1>Jogos de FPS</h1>

    <div class="card-fps">

      <a href="/jogos/a-melacia-totosa">
        <img src="./img/Banner-009.png" class="foto-jogo" alt="Banner do jogo">

        <div class="card-nomej">
          <p>A melacia totosa</p>
        </div>
      </a>

    </div>
  </section>

  <section id="corrida" class="corrida">
    <h1>Jogos de Corrida</h1>

    <div class="card-corrida">

      <a href="/jogos/a-melacia-totosa">

        <img src="./img/Banner-008.png" class="foto-jogo" alt="Banner do jogo">

        <div class="card-nomej">
          <p>A melacia totosa</p>
        </div>
      </a>

    </div>
  </section>

  <section id="outras" class="outras">
    <h1>Outras Categorias de Jogos</h1>

    <div class="card-outras">

      <a href="/jogos/a-melacia-totosa">

        <img src="./img/Banner-007.png" class="foto-jogo" alt="Banner do jogo">

        <div class="card-nomej">
          <p>A melacia totosa</p>
        </div>
      </a>

    </div>
  </section>
</body>


</html>