<head>
    <meta charset="UTF-8">
    <title>Catálogo</title>
    <link rel="stylesheet" href="../pagina catalogo/css/index.css">
    <script defer src="../pagina catalogo/js/index.js"></script>
</head>

<body>
    <div class="cabecalho">

        <div class="cabecalho_esquerda">

            <div class="img_mangue">

                <a href="../pagina_principal/index.html">
                    <img src="img/1920x1080_background.png" alt="">
                </a>

                <p class="site_name">
                    Manguezal dos games
                </p>

            </div>

        </div>

        <div class="cabecalho_meio">
            <input type="text" id="barra_pesquisa" placeholder="Pesquisar jogos...">
        </div>

        <div class="cabecalho_direita">

            <div class="login_button">

            </div>

            <div class="cadastro_button">

            </div>

            <div class="extra_button">
                
            </div>

        </div>

    </div>
    
    <div class="filtros">

        <select id="filtro_ordenar">

            <option value="todos">
                Ordernar por:
            </option>

            <option value="trending">
                Tendências
            </option>

            <option value="recommend">
                Recomendados
            </option>

            <option value="bestsellers">
                Mais vendidos
            </option>

            <option value="menor">
                Menor preço
            </option>

            <option value="maior">
                Maior preço
            </option>

        </select>

        <select id="filtro_genero">

            <option value="todos">
                Genêros:
            </option>

            <option value="acao">
                Ação
            </option>

            <option value="rpg">
                RPG
            </option>

            <option value="18">
                +18
            </option>

            <option value="puzzle">
                Puzzle
            </option>

            <option value="educativo">
                Educativo
            </option>

            <option value="terror">
                Terror
            </option>

            <option value="fps">
                FPS
            </option>

            <option value="luta">
                Luta
            </option>

            <option value="corrida">
                Corrida
            </option>

        </select>

        <div class="filtro_preco">

            <p>
                Entre
            </p>

            <input type="number" id="preco_min" value="0">

            <p>
                e
            </p>

            <input type="number" id="preco_max" value="500">

            <p>
                R$
            </p>

        </div>

        <button id="button_filtrar">
            Filtrar
        </button>

        <button id="button_resetar" class="reset">
            Limpar
        </button>

    </div>

    <div class="selecao">

        <div class="opcoes">

            <div class="case_jogo_produto">

                <div id="catalogo" class="jogo_catalogo">

                </div>

            </div>

        </div>

    </div>
    
</body>

</html>