<html>

<head>

  <meta charset="UTF-8">
  <link rel="stylesheet" href="styles.css">
  <script defer src="script.js"></script>

</head>

<body>

  <div class="upper_bar_container">

    <a href="../pagina catalogo/index.html">

      <button class="upper_bar_buttons"> LOJA </button>

    </a>

    <a href="../pagina_principal/index.html">

      <button class="upper_bar_buttons"> MANGUEZAL </button>

    </a>

    <a href="../pagina criar usuario/index.html">

      <button class="upper_bar_buttons"> CRIAR CONTA </button>

    </a>


  </div>

  <div class="login_container">

    <div class="login_box">

      <div class="login_header">

        <h1>LOGIN</h1>

      </div>

      <div class="email_container">

        <h2>Email</h2>
        <input type="email" class="login_input" id="email_input" value="email.exemplo@gmail.com">

      </div>

      <div class="password_container">

        <h2>Senha</h2>
        <input type="password" class="login_input" id="senha_input" value="123456789">

      </div>

      <button class="login_button" id="login_botao"> LOGIN </button>

    </div>

  </div>

</body>


</html>