body {
    background-image: url(../img/1920x1080_background.png);
    background-repeat: no-repeat; 
    background-size: cover;         
    background-attachment: fixed;    
    background-position: center;   

    margin: 0;

    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    background-color: #000000e3;
    height: 90px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;

    position: fixed; 
    top: 0;
}

.cabecalho_esquerda {
    height: 100%;
    width: 25%;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;

    margin-top: 10;
}

.site_name {
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img_mangue {
    height: 100%;
    width: 120px;

    display: flex;
    flex-direction: row;
    gap: 10px;
}

.img_mangue img {
    width: 150px;
    height: 90%;

    object-fit: contain;
    object-position: center;
    display: block;

    border-radius: 40px;
}

.cabecalho_direita {
    height: 100%;
    width: 30%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 5px;
}

.home_button {
    background-color: #00d484;
    color: #000000;

    width: 100px;
    height: 30px;

    font-weight: bold;

    padding: 10px 25px;
    border-radius: 10px;

    cursor: pointer;

    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;

    text-decoration: none;
}

.home_button:hover {
    box-shadow: 0 0 15px #00ff99;
}

.selecao {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 50px;

    margin-top: 100px;
}

.case_usuario {
    background-color: #424242c9;

    width: 1200px;
    margin-top: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;
    overflow: hidden;

    border: 3px solid rgba(0, 0, 0, 0.356);
}

.case_informacao_cima {
    width: 100%;
    padding: 20px;

    display: flex;
    justify-content: space-between;

    margin-left: 50px;
}

.case_info_usuario {
    width: 1000px;

    display: flex;
    align-items: center;

}

.img_usuario {
    width: 200px;
    height: 200px;

    border-radius: 50%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid rgb(0, 0, 0);
}

.img_usuario img{
    width: 100%;
    height: 100%;
}

.nickname {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-size: 1.5rem;
    font-weight: 600;

    margin-left: 30px;

    color: white;
}

.case_informacao_baixo {
    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 30px;

    border: 3px solid rgba(0, 0, 0, 0.356);
}

.case_recente {
    width: 100%;
    max-width: 1000px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 20px;
    margin-left: 10px;
}

.jogo_recente {
    display: flex;
    flex-direction: column;
    justify-items: center;


    gap: 15px;

    border: 3px solid rgba(0, 0, 0, 0.356);
    border-radius: 10px;
}

.hora_jogada {
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    border: 3px solid rgba(0, 0, 0, 0.356);

    color: white;
    padding-left: 10px;
}

.jogo {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 15px;
}

.img_jogo_rec {
    width: 180px;
    height: 100px;

    border-radius: 10px;

    overflow: hidden;
}

.img_jogo_rec img{
    width: 100%;
    height: 100%;
}

.name_jogo {
    display: flex;
    align-items: center;

    color: white;
    font-size: 15px;

    padding: 5px 10px;
}

.review_recente {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.jogo_review {
    display: flex;
    flex-direction: column;

    gap: 15px;
    border: 3px solid rgba(0, 0, 0, 0.356);
    border-radius: 10px;

}

.review {

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 15px;
}

.img_jogo_rev {
    width: 180px;
    height: 100px;

    border-radius: 10px;

    overflow: hidden;
    flex-shrink: 0;
}

.img_jogo_rev img{
    width: 100%;
    height: 100%;
}

.comentario_review {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    white-space: normal;

    word-wrap: break-word;
    word-break: break-word;

    font-size: 12px;

    padding: 5px 10px;

    color: white;
}

.case_contem {
    width: 1000px;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    gap: 20px;

    margin-top: -120px; 
}

.button_obtido {
    background-color: #00d484;
    color: #000000;

    width: 100px;
    height: 30px;

    font-weight: bold;

    padding: 10px 25px;
    border-radius: 10px;

    cursor: pointer;

    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;

    text-decoration: none;
}

.button_obtido:hover {
    box-shadow: 0 0 15px #00ff99;
}
