body {
    background-image: url(../img/1920x1080_background.png);
    background-repeat: no-repeat; 
    background-size: cover;         
    background-attachment: fixed;    
    background-position: center;   

    margin: 0;

    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    background-color: #000000e3;
    height: 90px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;

    position: fixed; 
}

.cabecalho_esquerda {
    height: 100%;
    width: 25%;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
}

.site_name{
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img_mangue {
    height: 100%;
    width: 120px;

    display: flex;
    flex-direction: row;
    gap: 10px;
}

.img_mangue img {
    width: 150px;
    height: 90%;

    object-fit: contain;
    object-position: center;
    display: block;

    border-radius: 40px;
}

.cabecalho_meio {
    height: 100%;
    width: 45%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#barra_pesquisa {
    width: 300px;
    height: 36px;
    background-color: #2a2a2a;

    border: none;
    border-radius: 8px;

    padding: 0 12px;

    color: #fff;
}

#barra_pesquisa::placeholder {
    color: #aaa;
}

#barra_pesquisa:focus {
    outline: none;
    background-color: #333;
}

.cabecalho_direita {
    height: 100%;
    width: 30%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 5px;
}

.login_button {
    background: #00d484;

    font-weight: bold;

    padding: 10px 25px;
    border-radius: 10px;

    cursor: pointer;
}

.login_button a{
    text-decoration: none;
    color: #000000;
}

.login_button:hover {
    box-shadow: 0 0 15px #00ff99;
}

.cadastro_button {
    background-color: #00d484;
    color: #000000;

    font-weight: bold;

    padding: 10px 25px;
    border-radius: 10px;

    cursor: pointer;
}

.cadastro_button a{
    text-decoration: none;
    color: #000000;
}

.cadastro_button:hover {
    box-shadow: 0 0 15px #00ff99;
}

.selecao {
background: image();
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 50px;
}

.opcoes {
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;
}

.case_trending {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;

    padding: 20px;
    margin-top: 180px;
}

.trending {
    font-size: 30px;
    font-weight: bold;
    color: white;
    width: 100%;
    text-align: left;

    display: flex;
    align-items: center;
    justify-content: space-between; 
    text-align: left;

    padding-left: 100px; 
    padding-right: 100px;
}

.trending a{
    text-decoration: none;
    color: rgb(26, 19, 19);
}

.trending :hover{
    color:#999999;
}

.trending_jogo {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;

    padding: 10px 0;
}

.case_trending_jogo {
    background-color: #2b2b2b;
    width: 30%;
    height: 200px;

    border-radius: 10px;

    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.img_trending {
    background-color: #444;
    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 40px;
}

.img_trending img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
    display: block;
}

.descricao_trending {
    background-color: #333;
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;

    box-sizing: border-box;
}

.name_trending {
    font-weight: bold;
    font-size: 15px;
}

.name_trending a{
    text-decoration: none;
    color: white;
}

.name_trending a:hover{
    color: rgb(32, 32, 32);
}

.preco_trending {
    color: #00ff99;
    font-weight: bold;
}

.case_recommend {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;

    padding: 20px;
}

.recommend {
    font-size: 30px;
    font-weight: bold;
    color: white;
    width: 100%;
    text-align: left;

    display: flex;
    align-items: center;
    justify-content: space-between; 
    text-align: left;

    padding-left: 100px; 
    padding-right: 100px;
}

.recommend a{
    text-decoration: none;
    color: rgb(26, 19, 19);
}

.recommend :hover{
    color:#999999;
}

.recommend_jogo {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;

    padding: 10px 0;
}

.case_recommend_jogo {
    background-color: #2b2b2b;
    width: 30%;
    height: 200px;

    border-radius: 10px;

    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.img_recommend {
    background-color: #444;
    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 40px;
}

.img_recommend img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
    display: block;
}

.descricao_recommend {
    background-color: #333;
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;

    box-sizing: border-box;
}

.name_recommend {
    font-weight: bold;
    font-size: 15px;
}

.name_recommend a{
    text-decoration: none;
    color: white;
}

.name_recommend a:hover{
    color: rgb(32, 32, 32);
}

.preco_recommend {
    color: #00ff99;
    font-weight: bold;
}

.case_bestsellers {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;

    padding: 20px;
}

.bestsellers {
    font-size: 30px;
    font-weight: bold;
    color: white;
    width: 100%;
    text-align: left;

    display: flex;
    align-items: center;
    justify-content: space-between; 
    text-align: left;

    padding-left: 100px; 
    padding-right: 100px;
}

.bestsellers a{
    text-decoration: none;
    color: rgb(26, 19, 19);
}

.bestsellers :hover{
    color:#999999;
}

.bestsellers_jogo {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;

    padding: 10px 0;
}

.case_bestsellers_jogo {
    background-color: #2b2b2b;
    width: 30%;
    height: 200px;

    border-radius: 10px;

    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.img_bestsellers {
    background-color: #444;
    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 40px;
}

.img_bestsellers img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
    display: block;
}

.descricao_bestsellers {
    background-color: #333;
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;

    box-sizing: border-box;
}

.name_bestsellers {
    font-weight: bold;
    font-size: 15px;
}

.name_bestsellers a{
    text-decoration: none;
    color: white;
}

.name_bestsellers a:hover{
    color: rgb(32, 32, 32);
}

.preco_bestsellers {
    color: #00ff99;
    font-weight: bold;
}

.case_categoria {
    width: 90%;

    border-radius: 10px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}

.categoria {
    font-size: 30px;
    font-weight: bold;
    color: white;
    width: 100%;
    text-align: left;

    display: flex;
    align-items: center;
    justify-content: space-between; 
    text-align: left;

    padding-left: 100px; 
    padding-right: 100px;
}

.categoria a{
    text-decoration: none;
    color: rgb(26, 19, 19);
}

.categoria :hover{
    color:#999999;
}

.categoria_titulo{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.categoria_jogo {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: 20px;

    margin-top: 10px 0;
}

.card_categoria {
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 8px;
}

.categoria_name {
    color: white;

    font-weight: bold;
    font-size: 18px;
}

.categoria_name a{
    text-decoration: none;
    color: white;
}

.categoria_name a:hover{
    color: rgb(32, 32, 32);
}

.tema {
    background-color: #00ff99;
    width: 100%;
    height: 120px;

    border-radius: 10px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 20px;
    color: #000;
}

.tema img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
    display: block;
}

.case_review {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;

    padding: 40px 0;
}

.review {
    font-size: 30px;
    font-weight: bold;
    color: white;
    width: 100%;
    text-align: left;

    display: flex;
    align-items: center;
    justify-content: space-between; 
    text-align: left;

    padding-left: 100px; 
    padding-right: 100px;
}

.review a{
    text-decoration: none;
    color: rgb(26, 19, 19);
}

.review :hover{
    color:#999999;
}

.review_card {
    background-color: #ffffff38;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;

    padding: 40px 0;
}

.card_review {
    color: white;

    height: auto;
    width: 22%;
    border-radius: 10px;

    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.img_review {
    width: 100%;
    height: 200px;


    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 40px;
    padding: 0;

    border-radius: 10px;
}

.img_review img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
    display: block;

    border-radius: 10px;
}

.tag {
    display: flex;
    justify-content: space-between;

    padding: 10px;
}

.nick_name {
    width: 30%;

    display: flex;
    justify-items: center;
    align-items: center;
}

.nick_name a{
    text-decoration: none;
    color: white;
}

.nick_name a:hover{
    color: rgb(32, 32, 32);
}

.nota {
    width: 70%;

    display: flex;
    align-items: center;
}

.comentario {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;

    font-size: 12px;
    line-height: 1.3;
    padding: 5px 10px;
    box-sizing: border-box;
}

.title {
    height: 100%;


    background: #444444;

    font-weight: bold;

    padding: 10px 10px;
    border-radius: 10px;

    cursor: pointer;
}

.all_tema {
    height: 100%;


    background: #444444;

    font-weight: bold;

    padding: 10px 10px;
    border-radius: 10px;

    cursor: pointer;
}