<html>

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/index.css">
    <script defer src="js/index.js"></script>
    <title>Carrinho</title>
</head>

<body>
    <div class="cabecalho">
        <div class="cabecalho_esquerda">
            <div class="img_mangue">

                <a href="../pagina_principal/index.html">
                    <img src="img/1920x1080_background.png" alt="">
                </a>

                <p class="site_name">
                    Manguezal dos games
                </p>
                
            </div>
        </div>

        <div class="cabecalho_direita">

            <div>
                <a href="../pagina_principal/index.html" class="botao_cabecalho">Home</a>
            </div>

            <div class="foto_perfil">
                <a href="../pagina perfil usuario/index.html"><img src="../pagina carrinho/img/Profiles/Profile-005.png"
                        alt=""></a>
            </div>
        </div>
    </div>

    <div class="case_carrinho">
        <div class="carrinho">
            <h2>Carrinho</h2>

            <div class="caixa_carrinho">
                <div class="carrinho_vazio">
                    <p class="texto_vazio">
                        Seu carrinho está vazio
                    </p>

                    <p class="descricao_vazio">
                        Você ainda não adicionou nenhum jogo. Explore o catálogo e descubra ofertas incríveis!
                    </p>

                    <a href="../pagina catalogo/index.html" class="botao_descobrir">
                        Descobrir jogos
                    </a>

                </div>
            </div>
        </div>

        <div class="saldo_total">
            <h2>Resumo</h2>

            <div class="saldo_total_info">

                <div class="linha_saldo">
                    <p>Preço total</p>
                    <p>R$ 0,00</p>
                </div>

                <div class="linha_saldo">
                    <p>Desconto</p>
                    <p>R$ 0,00</p>
                </div>

                <div class="linha_total">
                    <p>Total</p>
                    <p class="valor_total">R$ 0,00</p>
                </div>

                <a href="../pagina compra/index.html"><button class="botao_finalizar">Finalizar compra</button></a>

                <a href="../pagina catalogo/index.html" class="continuar"> 
                    Continuar comprando
                </a>
            </div>
        </div>
    </div>
</body>

</html>