body {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 2000px;

    margin: 0px;

    background-color: rgb(50, 44, 61);

}

.upper_bar_container {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 75px;

    background-color: rgb(70, 70, 134);

}

.upper_left_container {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 15%;
    height: 100%;

    background-color: rgb(121, 63, 82);

}

.upper_center_container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 70%;
    height: 100%;

    background-color: rgb(178, 33, 149);

}

.upper_right_container {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 15%;
    height: 100%;

    gap: 5px;

    background-color: rgb(50, 40, 166);

}

.login_button {

    border: 0;
    border-radius: 15px;

    width: 45%;
    height: 50%;

}

.cadastro_button {

    border: 0;
    border-radius: 15px;

    width: 45%;
    height: 50%;

}

.main_page_container {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    margin-left: 50px;
    margin-right: 50px;

    width: 100%;
    height: 100%;

    background-color: blue;

}

.main_page_leftbar_container {

    width: 25%;
    height: 90%;

    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 25px;
    margin-left: 100px;

    background-color: red;
}

.main_page_mini_catalogue_container {


    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    width: 75%;
    height: 90%;

    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 25px;

    background-color: rgb(146, 64, 64);

}

.searchbar_container {

    width: 90%;
    height: 50px;

    margin-top: 50px;


    background-color: blue;

}

.recommended_and_featured_container {

    width: 90%;
    height: 550px;

    margin-top: 50px;
    margin-bottom: 50px;

    background-color: rgb(136, 25, 139);

}

.featured_game_thumbnail {}

.featured_game_info {}

.featured_game_title {}

.featured_game_images {}

.featured_game_status {}

.featured_game_price {}

.featured_discounts_container {}

.title_and_seemore_container {}

.games_on_discount_container {}

.game_on_discount {}

.game_on_discount_image {}

.game_on_discount_info_container {}

.discount_duration_info {}

.discount_and_price_info {}