<html>

<head>
    <meta charset="UTF-8">
    <title>Manguezal dos Games</title>
    <link rel="stylesheet" href="../pagina_principal/css/index.css">
    <script defer src="../pagina_principal/js/index.js"></script>
</head>

<body>
    <div class="cabecalho">

        <div class="cabecalho_esquerda">
            <div class="img_mangue">
                <a href="../pagina_principal/index.html"><img src="img/1920x1080_background.png" alt=""></a>
                <p class="site_name">Manguezal dos games</p>
            </div>
        </div>

        <div class="cabecalho_meio">
            <input type="text" id="barra_pesquisa" placeholder="Pesquisar jogos...">
        </div>

        <div class="cabecalho_direita">
            <div class="login_button">

            </div>
            <div class="cadastro_button">

            </div>
            <div class="extra_button">
                
            </div>
        </div>

    </div>
    <div class="selecao">
        <div class="opcoes">
            <div class="case_trending">
                <div class="trending">
                    <div class="title">
                        Tendências
                    </div>
                    <div class="all_tema">
                        <a href="../pagina catalogo/index.html?filtro=trending">Ver tudo</a>
                    </div>
                </div>
                <div id="trending" class="trending_jogo">

                </div>
            </div>
            <div class="case_recommend">
                <div class="recommend">
                    <div class="title">
                        Recomendados
                    </div>
                    <div class="all_tema">
                        <a href="../pagina catalogo/index.html?filtro=recommend">Ver tudo</a>
                    </div>
                </div>
                <div id="recommend" class="recommend_jogo">

                </div>
            </div>

            <div class="case_bestsellers">
                <div class="bestsellers">
                    <div class="title">
                        Mais vendidos
                    </div>
                    <div class="all_tema">
                        <a href="../pagina catalogo/index.html?filtro=bestsellers">Ver tudo</a>
                    </div>
                </div>
                <div id="bestsellers" class="bestsellers_jogo">

                </div>
            </div>

            <div class="case_categoria">
                <div class="categoria">
                    <div class="title">
                        Categorias
                    </div>
                    <div class="all_tema">
                        <a href="../pagina catalogo/index.html">Ver tudo</a>
                    </div>
                </div>
                
                <div id="categoria" class="categoria_jogo">

                </div>
            </div><a href="../pagina review/index.html" class="links"></a>
        </div>

        <div class="case_review">
            <div class="review">
                <div class="title">
                    Review
                </div>
                <div class="all_tema">
                    <a href="../pagina review/index.html">Ver tudo</a>
                </div>
            </div>
            <div class="review_card" id="review">

            </div>
        </div>
</body>

</html>