<html>

<head>
    <meta charset="UTF-8">
    <title>Manguezal dos Games</title>
    <link rel="stylesheet" href="css/index.css">
    <script defer src="js/index.js"></script>
</head>

<body>
    <div class="cabecalho">

        <div class="cabecalho_esquerda">
            <div class="img_mangue">

            </div>
        </div>

        <div class="cabecalho_meio">
            <input type="text" id="barra_pesquisa" placeholder="Pesquisar jogos...">
        </div>

        <div class="cabecalho_direita">
            <div class="login_button">

            </div>
            <div class="cadastro_button">

            </div>
        </div>

    </div>
    <div class="selecao">
        <div class="opcoes">
            <div class="case_trending">
                <div class="trending">
                    aaa
                </div>
                <div id="trending" class="trending_jogo">

                </div>
            </div>
            <div class="case_recommend">
                <div class="recommend">

                </div>
                <div id="recommend" class="recommend_jogo">

                </div>
            </div>

            <div class="case_bestsellers">
                <div class="bestsellers">

                </div>
                <div id="bestsellers" class="bestsellers_jogo">

                </div>
            </div>

            <div class="case_categoria">
                <div class="categoria">
                    <div class="title">
                        a
                    </div>
                    <div class="all_tema">
                        a
                    </div>
                </div>
                <div id="categoria" class="categoria_jogo">

                </div>
            </div>
        </div>

        <div class="case_review">
            <div class="review">
                aa
            </div>
            <div class="review_card" id="review">

            </div>
        </div>
</body>

</html>