* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #192645;
    color: #e2e8f0;
}

span {
    font-size: 20px;
}

.navegacao {
    position: fixed;
    top: 0;
    background: rgba(15, 23, 42, 0.3);
    width: 100%;
    z-index: 100;
    padding: 0.8rem;

}

.menu-categoria {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 3rem;
}

.menu-link {
    text-decoration: none;
    color: white;
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
    display: flex;
    align-items: center
}

.foto {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.tudo {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 40px;

}

.button-carrinho {
    background-color: #21345e;
    color: #FFF;
    border-radius: 3px;
    width: 100px;
    height: 40px;
    border: none;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    text-align: center;


}

.button-carrinho:hover {
    background-color: #7373a7;
    cursor: pointer;
}

.button-voltar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    min-height: 21vh;
    width: 100%;
    padding-left: 283px;
}

.resumo-pedido {
    width: 80%;
    max-width: 900px;

    background-color: #21345e;
    border-radius: 10px;

}

.itens {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: white;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #192645;
}

.pedidos {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between
}

.jogo {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}

.foto-jogo {
    width: 100px;
    height: 100px;
    border-radius: 10%;
}

.nome-jogo {
    padding-left: 0.9rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: white;
}

.valor {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: white;
    justify-content: space-between;
    padding-right: 1.5rem;
}

.total {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: white;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 1.5rem;
    border-top: 1px solid #192645;
}

.resumo-dados {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.dados {
    display: flex;

    align-items: flex-end;
    min-height: 10vh;
    width: 80%;
    max-width: 900px;
    color: #FFF;
    justify-content: center;
}

.input-form {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: Arial;
    border-radius: 3px;
    border: solid 1px;
}

.button-form {
    background-color: #21345e;
    color: #FFF;
    border-radius: 3px;
    width: 100px;
    height: 40px;
    border: none;
    margin-top: 10px;
}

.button-form:hover {
    background-color: #7373a7;
    cursor: pointer;
}

.error {
    border-color: red;
}

.dados-pessoais {
    width: 600px;
    min-height: 300px;
    background-color: #21345e;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}