<html>

<head>

  <meta charset="UTF-8">
  <link rel="stylesheet" href="styles.css">
  <script defer src="index.js"></script>

  <title>Criar Usuario</title>

</head>

<body>

  <div class="upper_bar_container">

  </div>

  <div class="login_container">

    <div class="logo_and_stuff_container">

      <img src="imagens/manguezal_logo.png" alt="" style="object-fit:fill; height: 800px;">

      <h1>PORRA FILHO DA PUTA</h1>
      <p style="text-align: center; width: 85%;">VAI TOMAR NO CU PORRA VAI TOMAR NO CU PORRA VAI TOMAR NO CU PORRA VAI
        TOMAR NO CU PORRA VAI TOMAR NO CU PORRA
        VAI TOMAR NO CU PORRA VAI TOMAR NO CU PORRA </p>

    </div>

    <div class="create_account_data_container">

      <div class="data_container">


        <h1 class="create_account_header">CRIAR CONTA</h1>


        <div class="name_input_container">

          <div class="input_container">

            <p>Nome</p>
            <input type="text" placeholder="Nome" class="text_input" id="nome_input">

          </div>

          <div class="input_container">

            <p>Sobrenome</p>
            <input type="text" placeholder="Sobrenome" class="text_input" id="sobrenome_input">

          </div>


        </div>

        <div class="input_container">

          <p>Nome Usuario</p>
          <input type="text" placeholder="Nome Conta" class="text_input" id="nome_usuario_input">

        </div>

        <div class="input_container">

          <p>E-MAIL</p>
          <input type="email" placeholder="E-mail" class="text_input" id="email_input">

        </div>

        <div class="input_container">

          <p>SENHA</p>
          <input type="password" placeholder="Senha" class="text_input" id="senha_input">

        </div>

        <div class="input_container">

          <p>Confirmar senha</p>
          <input type="password" placeholder="Senha" class="text_input" id="confirmar_senha_input">

        </div>

        <div class="terms_of_service_container">

          <input type="checkbox" id="">
          <p>VOCE LEU ESSA MERDA SEU FUDIDO?</p>

        </div>

        <button class="create_account_button" id="criar_botao">MATAR</button>

      </div>


    </div>

  </div>

  <div class="legal_stuff_container">

  </div>

</body>

</html>